.nav {
  width: 100%;
  ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    li {
      all: unset;
      width: fit-content;
      a {
        all: unset;
        width: auto;
        font-size: 3vw;
        text-transform: uppercase;
        &:hover {
          font-size: 4vw;
        }
      }
    }
  }
}
